.grid{
    display: grid;
    grid-template-areas:
    'covered-seccion covered-seccion desktop-hero-img'
    'covered-seccion covered-seccion desktop-hero-img';
    grid-template-columns: 1fr auto;
    min-height: 100vh;
}

.covered-seccion{
    grid-area: covered-seccion;
    background-image: url('../../Assest/img/bg-pattern-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desktop-hero-img{
    grid-area: desktop-hero-img;
}

.desktop-hero-img img{
    height: 100vh;
}

.mblImg{
    display: none;
}

.container{
    max-width: fit-content;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container h1{
    /* margin-top: 45%; */
    font-size: 5rem;
    font-weight: lighter;
    letter-spacing: 15px;
    color: hsl(var(--clr-desaturated-red));
    text-transform: uppercase;
    line-height: 1.1;
}

.container span{
    font-weight: 600;
    color: black;
}

.container p{
    max-width: 530px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8;
    color: hsl(var(--clr-desaturated-red));
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.container-info{
    /* border: 1px solid blue; */
    width: max-content;
    margin: 0 auto;
}

.input-group{
    max-width: 480px;
}

/* ------------------------------- */
/* Media Queries                   */
/* ------------------------------- */

@media only screen and (max-width: 1000px) {
    .grid{
        display: grid;
        grid-template-areas:
        'covered-seccion covered-seccion'
        'covered-seccion covered-seccion';
        overflow: hidden;
    }

    .container{
        justify-content: unset;
    }

    .mblImg{
        display: block;
    }

    .mblImg img{
        min-width: 100vw;
    }

    .covered-seccion{
        background: linear-gradient(var(--lnr-grdnt-white));
        height: 100vh;
        text-align: center;
    }

    .desktop-hero-img{
        display: none;
    }

    .container-info{
        margin: 0;
    }

    .container h1{
        font-size: 3rem;
    }

    .container p{
        font-size: 1rem;
    }

    .container-info{
        padding: 2.5rem;
        max-width: 420px;
    }
}